[project]
	description = The Firmament cluster scheduling platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Josh Bambrick (joshbambrick)
[access "refs/for/refs/*"]
	read = group user/Josh Bambrick (joshbambrick)
	push = group user/Josh Bambrick (joshbambrick)
	label-Code-Review = -2..+2 group user/Josh Bambrick (joshbambrick)
	label-Verified = -1..+1 group user/Josh Bambrick (joshbambrick)
	rebase = group user/Josh Bambrick (joshbambrick)
	removeReviewer = group user/Josh Bambrick (joshbambrick)
	submit = group user/Josh Bambrick (joshbambrick)
[access "refs/heads/*"]
	read = group user/Josh Bambrick (joshbambrick)
	create = group user/Josh Bambrick (joshbambrick)
	push = +force group user/Josh Bambrick (joshbambrick)
	pushMerge = group user/Josh Bambrick (joshbambrick)
[access "refs/tags/*"]
	push = +force group user/Josh Bambrick (joshbambrick)
	pushTag = group user/Josh Bambrick (joshbambrick)
	pushSignedTag = group user/Josh Bambrick (joshbambrick)
